@media (max-width:1760px){
	.big-container{
		padding: 0 80px;
	}
	.left-menu {
		margin-top: -202px;
	}
}

@media (max-width:1532px){
	.container{
		max-width: 1430px;
	}
	.info-title {
		padding-top: 275px;
		margin-left: 20%;
		margin-right: 15%;
		max-width: 950px;
	}
}

@media (max-width:1462px){
	.container{
		max-width: 1170px;
	}
	.block1-info {
		padding: 30px 30px 0px 70px;
	}
	.subtitle{
		margin-bottom: 10px;
	}
	.block-title01::before{
		font-size: 180px;
		top: -115px;
		left: -7px;
	}
	.block-info2{
		padding: 90px 0px 0px 60px;
	}
	.block-title02::before{
		font-size: 180px;
		top: -49px;
		left: -9px;
	}
	.block-title03::before{
		font-size: 180px;
		top: -115px;
		left: -7px;
	}
}


@media (max-width:1200px){
	.big-container{
		padding: 0 30px;
	}
	.container{
		max-width: 970px;
	}
	.title {
		font-size: 5.28em;
	}
	.subtitle {
		margin-bottom: 25px;
	}
	.block1-info {
		padding: 30px 30px 0 0;
	}
	.block-info2{
		padding: 80px 0px 0px 60px;
	}
	.block-title {
		font-size: 46px;
		line-height: 57px;
	}
	.block-title01::before{
		font-size: 180px;
		top: -99px;
		left: 0px;
	}
	.block-title02::before{
		font-size: 180px;
		top: -51px;
		left: 57px;
	}
	.block-title03::before{
		font-size: 180px;
		top: -99px;
		left: 0px;
	}
}


@media (max-width:992px){
	.big-container{
		padding: 0 16px;
	}
	.container{
		max-width: 800px;
	}
	.nav {
		padding-top: 34px;
	}
	.info-title {
		padding-top: 200px;
		margin-left: 15%;
		margin-right: 10%;
	}
	.subtitle {
		margin-bottom: 10px;
	}
	.title {
		font-size: 4.75em;
		margin-bottom: 20px;
	}
	.left-menu {
		padding-top: 600px;
	}
	section,footer{
		padding: 0 30px;
	}
	.block1,
	.block2,
	.block3{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 40px 0;
		margin-bottom: 120px;
	}
	.block1-info{
		padding: 0;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	.subtitle{
		padding-left: 100px;
	}
	.block-title{
		padding-left: 100px;
	}
	.block-title01::before{
		font-size: 156px;
		top: -120px;
	}
	.block-title02::before{
		font-size: 160px;
		top: -120px;
		left: 0px;
	}
	.block-title03::before{
		font-size: 160px;
		top: -120px;
	}
	.block-img{
		margin: 0 auto;
		margin-bottom: 40px;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}
	.footer {
		padding-bottom: 100px;
	}
	.footer-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 170px 0;
	}
	.footer-logo {
		display: inline-block;
		margin-bottom: 24px;
	}
	.footer-text {
		margin-bottom: 22px;
	}
	.footer-list1{
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	.footer-2-3 {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack:distribute;
		    justify-content:space-around;
		-ms-flex-preferred-size: 0;
		    flex-basis: 0;
	}
}



@media (max-width:768px){
	.logo{
		display: block;
		z-index: 2;
		margin: 0 auto;
	}
	.burger{
		display: inline-block;
		z-index: 3;
		position: absolute;
		right: 20px;
		top: 65px;
	}
	.burger.active .bar:nth-child(2){
		opacity: 0;
	}
	.burger.active .bar:nth-child(1){
		-webkit-transform: translateY(8px) rotate(45deg);
		    -ms-transform: translateY(8px) rotate(45deg);
		        transform: translateY(8px) rotate(45deg);
	}
	.burger.active .bar:nth-child(3){
		-webkit-transform: translateY(-8px) rotate(-45deg);
		    -ms-transform: translateY(-8px) rotate(-45deg);
		        transform: translateY(-8px) rotate(-45deg);
	}
	.navbar{
		padding-top: 27px;
	}
	.burger{
		top: 27px;
	}
	.nav-menu{
		position: fixed;
		left: -100%;
		top: 0;
		gap: 40px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		background-color:#0B1D26;
		width: 100%;
		height: 100vh;
		text-align: center;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
		z-index: 1;	
		padding-top: 120px;
	}
	.menu-registr{
		width: 100%;
		text-align: center;
		position: fixed;
		left: -100%;
		top: 300px;
		z-index: 1;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}
	.nav-item{
		margin: 16px 0;
	}
	.nav-menu.active{
		left: 0;
		overflow: auto;
	}
	.menu-registr.active{
		left: 0px;
		top: 300px;
		overflow: auto;
	}
	.block-img img{
		max-width: 480px;
	}
	.block-link{
		display: block;
		text-align: end;
	}
	.block1,
	.block2{
		margin-bottom: 60px;
	}
}



@media (max-width:576px){
	.info-title{
		padding: 130px 0 0 0;
		margin: 0;
	}
	.stroke-one {
		display: block;
		width: 25px;
		height: 1px;
		margin: 0px 0px -20px 0px;
	}
	.subtitle-one{
		font-size: 10px;
		line-height: 12px;
		letter-spacing: 2.07158px;
		padding: 0;
		margin-bottom: 18px;
	}
	.title {
		font-size: 36px;
		line-height: 50px;
	}
	.title-link{
		font-size: 15px;
		line-height: 18px;
	}
	.arrow {
		height: 20px;
	}
	.arrow::before,
	.arrow::after{
		content:'';
		height: 8px;
	}
	.arrow::before{
		right: 3px;
	}
	.arrow::after{
		left: 3px;
	}
	.promo{
		background-image: url(../img/bg-mobile.webp);
		background-repeat: no-repeat;
		background-size:cover;
	}
	.block3{
		margin-bottom: 35px;
	}
	.subtitle{
		font-size: 12px;
		padding-left: 80px;
	}
	.block-title{
		font-size: 36px;
		line-height: 43px;
		padding-left: 80px;
	}
	.block-title01::before{
		top: -104px;
		left: 34px;
	}
	.block-title02::before{
		top: -104px;
		left: 34px;
	}
	.block-title03::before{
		top: -104px;
		left: 34px;
	}
	.block-img{
		margin-bottom: 5px;
	}
	.block-img img{
		max-width: 240px;
	}
	.footer-logo{
		margin-bottom: 24px;
	}
	.footer-text{
		margin-bottom: 50px;
	}
	.footer-list3,
	.footer-list2{
		margin-bottom: 50px;
	}
	.footer-copyright{
		display: none;
	}
	.footer-copyright-mobile{
		display: block;
		text-align: center;
	}
	.footer-wrap{
		display: block;
	}
	.footer-2-3{
		display: block;
	}
	.footer{
		padding-bottom: 20px;
	}
}